[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-environ = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
djlint = "*"
ruff = "*"
black = "*"
bandit = "*"

[requires]
python_version = "3.11"
